  /* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*body*/
body {
    font-size: 18px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    color: #79706E;
    max-width: 1280px;
    margin: auto; 
}

body h1 {
    font-size: 3rem;
    font-weight: 700;
}

/*navigation*/

nav {
    margin-left: 94px;
    margin-right: 94px;
    display: flex;
    justify-content: space-between;
}

nav div#logo {
  padding: 1.5rem;
}

nav div#menu {
   padding-top: 1.5rem;
 }
 
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    /* padding: 0; */
}

nav ul li {
padding: 0 .5rem;
}

nav ul li a.active {
    color: blue;
    font-weight: 800;
}

nav ul li a {
    display: block;
    padding: .5rem 0;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    color: #79706E;
    font-weight: 600;
}

nav ul li:last-child {
    color: #3964FA;
}

    /* main */

.button {
    border: #FB7852 1px solid;
    width: 66%;
    text-align: center;
    border-radius: 16px;
    background-color: #FB7852;
    color: #fff;
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin: 2rem auto;
}

main h1 {
    font-size: 48px;
    line-height: 50px;
    padding: 0 1rem;
    color: #2A0E05;
    font-weight: 800;
    margin: 4rem 0 2rem 0;
}

main p {
    padding: 0 1rem;
    text-align: center;
    margin: 0 auto;
}

main div.heroContainer {
    display: flex;
    margin-left: 94px;
}

main div.heroLeft p {
    text-align: left;
    margin: 16px 94px 16px 0;
}

main div.heroLeft p.button {
    margin: 2rem 0 2rem 1rem;
    text-align: center;
}

main h2{
    padding: 0 1rem;
    font-weight: 800;
    color: #2A0E05;
    font-size: 38px;
    text-align: center;
    margin-top: 4rem;
}

main div.midText {
    margin: 120px 0;
}

main div.midText p {
    width: 700px;
}

main div.centerUpsaleContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
    margin-left: 94px;
    margin-right: 94px;
}

main div.centerUpsaleContainer div {
    display: flex;
    flex-direction: column;
    width: 510px;
}

main div.centerUpsaleContainer div h2 {
    margin-top: 56px;
}

main div.centerUpsaleContainer div img {
    margin: 0 auto;
    width: 510px;
}

div.hero2Container {
    display: flex;
    margin: 120px 0;
}

div.hero2Right {
    text-align: left;
    margin: 16px 0 16px 94px;
}

div.hero2Right p{
    text-align: left;
    /* margin: 16px 0 16px 94px; */
}

main div.hero2Right p.buttonLight {
    margin: 32px 0 32px 16px;
    text-align: center;
    width: 66%
}


.buttonLight {
    border: #FB7852 1px solid;
    width: 30%;
    text-align: center;
    border-radius: 16px;
    color: #FB7852;
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin: 2rem auto;
}

footer {
    display: flex;
    margin-top: 120px;
    background-color: #FB7852;
    color: #fff;
    justify-content: space-between;
}

.footer div.footerLeft {
    padding: 136px 94px 0 94px;  
    text-align: center;  
}

footer p.button {
    border: 1px solid #fff;
    margin: 2rem auto;
}